<div class="collection-link form">
    <h1>+</h1>
    <br />
    <input type="text" placeholder="New Collection" id="collectionInput"/>
    <button {{on "click" this.createCollection}}id="addCollectionButton">Add Collection</button>
</div>