<div class="collection" id="{{@collection}}">
    {{#if @displayform}}
        <CardForm @collection="{{@collection}}"></CardForm>
    {{/if}}
    {{#each @data as |item|}}
        <Card @drag="true" @card={{item}}/>
    {{/each}}
</div>