<div class="collection" id="{{@collection}}">
    <CardForm @collection="{{@collection}}"></CardForm>
    {{#each @data as |item|}}
        <Card @drag="true" @card={{item}}/>
    {{/each}}
</div>
{{yield}}