<nav class="basis-full bg-blue-600 h-16 text-white flex items-center justify-between p-4">
    <LinkTo @route="index" class="text-3xl font-semibold">
        <h1>Card Archive</h1>
    </LinkTo>
    <div class="flex justify-evenly gap-10 text-xl">
        <LinkTo @route="cards">
            Cards
        </LinkTo>
        <LinkTo @route="search">
            Search
        </LinkTo>
    </div>
</nav>