<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>Card Archive</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="add">
            Add Cards
        </LinkTo>
        <LinkTo @route="collections">
            Collections
        </LinkTo>
        <LinkTo @route="search">
            Search
        </LinkTo>
    </div>
</nav>

{{yield}}