<nav class="basis-full bg-brand dark:bg-brand-dark h-16 text-white flex items-center justify-between p-4">
    <h1>
        <LinkTo @route="index" class="text-3xl font-semibold">
            Card Archive
        </LinkTo>
    </h1>
    <ul class="flex justify-evenly gap-10 text-xl">
        <li><LinkTo @route="cards">
            Cards
        </LinkTo></li>
        <li><LinkTo @route="search">
            Search
        </LinkTo></li>
        <li><LinkTo @route="manage">
            Manage
        </LinkTo></li>
    </ul>
</nav>