{{#if this.hasResults}}
{{#if this.hasFocus}}
    <div id="result-container" class="relative">
        <div id="add-results" class="absolute top-1 left-0 h-72 w-56 flex flex-col shadow-lg shadow-slate-800 overflow-scroll">
            {{#each this.results as |card|}}
                <div id={{card.id}} class="ygopro-result h-20 w-full bg-slate-400 flex justify-between p-2 border-b border-black" {{on "click" this.addSelectedCard}}>
                    <h5 class="grow">{{card.name}}</h5>
                    <img src={{card.images.image_url_small}} class="h-16"/>
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}
{{/if}}