<section class="flex justify-center mt-8 w-full p-4">
    <calcite-input id="search-bar" icon="search" scale="l" class="w-full max-w-3xl" {{on "input" this.bufferInput}}/>
</section>

{{#if this.emptyresult}}
    <p class="mt-4 w-full text-center text-xl italic">No cards found matching "{{this.query}}"</p>
{{/if}}
<Collection @search={{true}} @collection='results' @data={{this.cardList}} />