<div id="search-bar-wrapper">
    <input type="search" id="search-bar" {{on "input" this.bufferInput}}/>
</div>

{{#if this.emptyresult}}
    <p id="no-results">No cards found matching "{{this.query}}"</p>
{{/if}}
<Collection @search={{true}} @collection='results' @data={{this.cardList}} />