<article class="dark:bg-dark-item shadow-lg shadow-slate-800 rounded-lg border-4 border-slate-400 w-44 h-64" {{on "drop" (fn @handleDrop 'unsorted')}} {{on "dragover" @preventDefault}}>
    <a href="/cards" class="w-full h-full flex flex-col justify-center items-center">
        <calcite-icon icon="outbox" scale="l" class="h-16 w-16 mb-2"></calcite-icon>
        <p>Move to Unsorted</p>
    </a>
</article>