<article class="dark:bg-slate-500 shadow-lg shadow-slate-800 rounded-lg border-4 border-slate-400 w-44 h-64" {{on "drop" this.handleDrop}} {{on "dragover" this.enableDrag}}>
    <a href="/cards" class="w-full h-full flex flex-col justify-center items-center">
        <calcite-icon icon="outbox" scale="l" class="h-16 w-16 mb-2"></calcite-icon>
        <p>Move to Unsorted</p>
    </a>
</article>