<h1 class="main-header centered">Welcome to Card Archive</h1>
<p class="centered">A place to manage your trading cards and their location</p>
<div class="link-stack">
    <LinkTo @route="cards" class="button">Your Cards</LinkTo>
    <LinkTo @route="search" class="button">Search Cards</LinkTo>
</div>