<h1>Welcome to Card Archive</h1>
<p>A place to manage your trading cards and their location</p>
<div class="link-stack">
    <LinkTo @route="add" class="button">Add Cards</LinkTo>
    <LinkTo @route="collections" class="button">My Collections</LinkTo>
    <LinkTo @route="search" class="button">Search Collections</LinkTo>
</div>