<h1 class="w-full text-center text-6xl font-semibold py-4">Welcome to Card Archive</h1>
<p class="w-full text-center text-2xl pt-2 pb-8">A place to manage your trading cards and their location</p>
<div class="flex gap-8 flex-col justify-evenly items-center">
    <LinkTo @route="cards" class="flex justify-center items-center bg-blue-600 hover:bg-blue-700 text-white text-xl w-6/12 max-w-2xl h-16 rounded-xl">Your Cards</LinkTo>
    <LinkTo @route="search" class="flex justify-center items-center bg-blue-600 hover:bg-blue-700 text-white text-xl w-6/12 max-w-2xl h-16 rounded-xl">Search Cards</LinkTo>
</div>